.catalog {
   padding: 120px 0 120px 0;
   transition: 0.6s;

   &::after {
      content: '';
      position: absolute;
      width: 1280px;
      left: 50%;
      transform: translate(-50%, 0);
      height: 2px;
      background: #000;
      bottom: 0;
   }

   &__title {
      margin-bottom: 60px;
   }

   &__items {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      margin: 0 auto;
      gap: 1.5rem;
      margin-bottom: 1.5rem;
      transition: 0.5s;
      opacity: 1;
   }

   &__item {
      // max-width: 14rem;

      & img {
         // max-width: 14rem;
         width: 100%;
         object-fit: cover;
         z-index: 20;
      }
   }

   &__description {
      position: absolute;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0.80) 0%, rgba(255, 255, 255, 0.80) 100%);
      top: 0;
      opacity: 0;
      height: 100%;
      z-index: 22;
      transition: 0.5s;
      display: flex;
      flex-direction: column;
      padding: 2rem 0.3rem 1rem;

      &:hover {
         opacity: 1;
         transition: 0.6s;
      }
   }

   &__read-more {
      margin-top: 3rem;
      margin-left: 50%;
      transform: translate(-50%, 0);
      display: inline-block;
   }

   &__name {
      font-size: 24px;
      line-height: 150%;
   }

   &__text {
      flex: 1 0 auto;
   }

   &__price {
      flex: 1 1 auto;
      font-size: 24px;
      font-weight: 500;
      line-height: 150%;
   }

   &__button {
      background: #432E1F;
      border-radius: 40px;
      color: #fff;
      text-align: center;
      font-size: 20px;
      margin: 0 2rem;
      padding: 0.5rem 0;

      &::after {
         content: "";
         position: absolute;
         height: 20px;
         width: 20px;
         background: url('../src/Assets/Icons/Arrow Right1.png');
         z-index: 20;
         position: absolute;
         top: 50%;
         right: 36px;
         transform: translate(0, -45%);
      }
   }
}


.catalog__items-hidden {

   //display: none;
   opacity: 0;
   max-height: 0px;
}


@media (max-width: 1000px) {
   .catalog {
      &__items {
         grid-template-columns: repeat(2, 1fr);
      }
   }
}

@media (max-width: 767px) {
   .catalog {
      &__items {
         grid-template-columns: repeat(1, 1fr);
      }

      &__description {
         width: 100%;
      }
   }

}