.description {
   background: #FAEAD8;
   padding: 120px 0;

   &::after {
      content: '';
      position: absolute;
      width: 1280px;
      left: 50%;
      transform: translate(-50%, 0);
      height: 2px;
      background: #000;
      bottom: 0;
   }

   &__title {
      text-align: center;
      padding-bottom: 60px;
   }

   &__content {
      display: flex;
      gap: 8rem;


   }

   &__info {}

   &__text {
      font-size: 18px;
      line-height: 150%;
      padding-bottom: 3rem;
   }

   &__button {}

   &__img {}
}

@media (max-width: 1100px) {
   .description {
      &__img {
         & img {
            max-width: 50vw;
         }

      }

      &__content {
         gap: 6vw;
      }

      &__text {
         padding-bottom: 1rem;

         & span {
            display: none;
         }
      }
   }
}

@media (max-width: 991px) {
   .description {
      padding-top: 80px;
   }
}

@media (max-width: 767px) {
   .description {
      padding: 60px 0;
   }
}